<div>
  <h1>Work for <%= Time.local(params[:year], params[:month], params[:day]).strftime("%A %d %B %Y") %></h1>

  <ol>
  <% @events.each do |event| -%>
    <li><%= event_time event %> | <%= event.name %></li>
  <% end -%>
  </ol>
  <%= link_to "Add", new_event_path("#{params[:year]}-#{params[:month]}-#{params[:day]}"), :remote => true %>
  <%= link_to "Close", calendar_path(params[:year], params[:month]) %>
</div>
