<div class="timesheet">
  <h1>Timesheet</h1>
  <p>
    <span class="label">From:</span><%= @timesheet.start_date.strftime("%d/%m/%Y") %>
    &nbsp;&nbsp;&nbsp;
    <span class="label">To:</span><%= @timesheet.end_date.strftime("%d/%m/%Y") %>
  </p>
  <p><span class="label">Client:</span><%= @timesheet.client.name %></p>
  <table>
    <tr>
      <th class="project-heading">Project</th>
    <% @timesheet.headings.each do |heading| -%>
      <th><%= heading %></th>
    <% end -%>
      <th>Total</th>
    </tr>
    <% @timesheet.hours.keys.sort.each do |project_name| -%>
    <tr>
      <td class="project-name"><%= project_name %></td>
      <% @timesheet.start_date.upto(@timesheet.end_date) do |date| -%>
      <%
        date_key = date.strftime("%d-%m-%y")
        hours = @timesheet.hours[project_name][date_key]
      -%>
      <td><%= hours ? "%.3f" % hours : "" %></td>
      <% end -%>
      <td><%= "%.3f" % @timesheet.project_hours[project_name] %></td>
    </tr>
    <% end -%>
    <tr>
      <td colspan="<%= @timesheet.headings.size + 1 %>"></td>
      <td>Total:&nbsp;<%= "%.3f" % @timesheet.total_hours %> hours</td>
    </tr>
  </table>
  <p><%= link_to "Printable version", timesheet_print_path(:client => @timesheet.client.to_param, :start_date => @timesheet.start_date.to_s, :end_date => @timesheet.end_date.to_s) %></p>
</div>
