<%= form.error_messages %>

<p>
  <%= label_tag "Name: " %>
  <%= form.text_field :name %>
</p>
<p>
  <%= label_tag "Rate: " %>
  <%= form.text_field :rate, :size => 5 %>
</p>
<p>
  <%= label_tag "Description: " %>
  <%= form.text_area :description %>
</p>
