<%= render :partial => 'shared/modal_toolbar' %>
<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.description %></td>
    <td>
      <%= link_to 'Show', client, :remote => true %>&nbsp;
      <%= link_to 'Edit', edit_client_path(client), :remote => true %>&nbsp;
      <%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete, :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '+ Add Client', new_client_path, :remote => true %>
