<div>
  <h1><%= @event.name %></h1>
  <p>Project:&nbsp;<%= @event.project.name %></p>
  <p>Starts:&nbsp;<%= @event.start_at.to_s(:long) %></p>
  <p>Ends:&nbsp;<%= @event.end_at.to_s(:long) %></p>
  <%= link_to "Close", calendar_path %>
</div>
