<%= render :partial => 'shared/modal_toolbar' %>
<div>
  <h1><%= @event.name %></h1>
  <p>Project:&nbsp;<%= @event.project.name %></p>
  <p>Started:&nbsp;<%= @event.start_at.to_s(:long) %></p>
  <p>Ended:&nbsp;<%= @event.end_at.to_s(:long) %></p>
  <p>Duration:&nbsp;<%= event_hours @event %></p>
</div>
