<%= render :partial => 'shared/modal_toolbar' %>
<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.client.name %></td>
    <td>
      <%= link_to 'Show', project, :remote => true %>&nbsp;
      <%= link_to 'Edit', edit_project_path(project), :remote => true %>&nbsp;
      <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '+ Add Project', new_project_path, :remote => true %>
