<!DOCTYPE html>
<html>
  <head>
    <title>Clocking Off - Timekeeper</title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "livepipe" %>
    <%= javascript_include_tag "window" %>
    <%= calendar_date_select_includes "silver" %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "event_calendar" %>
    <%= stylesheet_link_tag "window" %>
  </head>
  <body>

  <%= render :partial => 'shared/header' %>

  <%= yield %>

  <div id="modal"></div>

  </body>
</html>
